html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

.toast-container {
  left: 40%;
  min-height: 240px;
  min-width: 350px;
  position: fixed;
  top: 10px;
  z-index: 2;
}
